.b-radius40 {
  border-radius: 40px !important;
}
.b-radius30 {
  border-radius: 30px !important;
}
.b-radius20 {
  border-radius: 20px !important;
}
.b-radius10 {
  border-radius: 10px !important;
}
.b-radius5 {
  border-radius: 5px !important;
}

.border-bottom-red-2px {
  /* border-bottom: none !important;  */

  border-bottom: 2px solid #dc3545 !important;
}

/* #section-hero {
  background: url("../images/background/banner-01.jpg");
  width: 100%;
  height: 40rem;
  background-size: cover;
} */
